.threadDisplay{
    border: grey 1px solid;
    border-radius: 5px;
    padding: 30px 45px;
    width: 50%;
    margin-top: 20px;
}

.exportButton {
    margin-left: 10px;
    background-color: rgb(23, 123, 171);
    padding: 3px 5px;
    border-radius: 5px;
    color: white;
}

